nav.navbar {
  background-color: #fff;
  border-bottom: 1px solid #edf1f7;
  top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 600;
}

.navbar-expand-lg ul.navbar-nav .nav-link {
  // color: #192038;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
}
