#main {
  background-color: #e5e5e5;
  height: auto;
  padding: 30px 30px 7rem;
}
.cards-container {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: none;
  height: auto;
}
#bg {
  font-size: 16px;
  background-color: #e5e5e5;
  position: relative;
}
.bg-wrap-title .title {
  font-size: 24px;
  font-weight: 600;
  word-break: keep-all;
}
.cards-container .card-body {
  padding: 30px;
}
.title-sections {
  font-size: 24px;
  padding-left: 14px;
  word-break: revert;
  margin-bottom: 15px;
  position: relative;
}
.title-sections::before {
  content: "";
  width: 4px;
  height: 18px;
  position: absolute;
  background-color: #e98a13;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.block-sessions .block-input input {
  height: 40px;
  border-radius: 5px;
}
.sub-noti {
  word-break: keep-all;
  margin-top: -10px;
  margin-left: 14px;
  font-style: normal;
  font-size: 14px;
  color: #666;
  line-height: 16.41px;
}
.slide-custom {
  height: 30px;
  padding: 0 !important;
  font-size: 16.8px;
  font-weight: 400;
  color: #444;
  position: absolute;
  right: 0;
  width: 42px;
  height: 44px;
  margin-right: 66px;
}
.ant-input-number-lg {
  padding: 0;
  font-size: 16px;
  width: 150px;
}
.font-size-16 {
  font-size: 16px;
}
.btn-burger {
  width: 190px;
  height: 50px;
  color: #fff;
  background-color: #ef911b;
  border-color: #ef911b ;
}
.threshold-input {
  width: 90px;
  height: 39.64px;
  border: none;
  text-align: center;
  outline: 0;
}
.slide-custom2 {
  height: 30px;
  padding: 0 !important;
  font-size: 16.8px;
  font-weight: 400;
  color: #444;
  position: relative;
  right: 0;
  width: 42px;
  height: 44px;
  margin-right: 8px;
}
.table th {
  font-weight: 500;
  color: #000000b3;
  font-size: 16px;
  text-transform: none;
}

.btn-add-free {
  background: #fff;
  height: 40px;
  border-radius: 5px;
  min-width: 190px;
  border: 1px solid #ef911b;
  color: #ef911b;
  box-shadow: none;
}
.btn-add-free :hover {
  color: #fff!important;
  background-color: #f69c2a;
}
.input-modal {
  height: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.form-label {
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.form-control {
  border-radius: 5px;
}
.border-input-select {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.button-action {
  height: 28px;
  width: 28px;
  border-radius: 3px;
  background: #fff;
  border: none;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  padding-right: 20px;
    padding-left: 10px;
}
