<div id="main">
  <div id="bg" class="bg-wrap-title d-flex flex-wrap my-3">
    <h1 class="title mr-auto">DOMAIN DETAILS</h1>
  </div>

  <div class="cards-container">
    <div class="card-body">
      <div>
        <div>
          <tabset>
            <tab class="tab-domain">
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-Domain-detail mr-2 "></i>
                  <span class="">Domain details</span>
                </a>
              </ng-template>
              <div class="tab-content">
                <app-domain-details-sup></app-domain-details-sup>
              </div>

            </tab>

            <tab>
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-settings mr-2 "></i>
                  <span class="">Setting</span>
                </a>
              </ng-template>
              <div class="tab-content">
                <app-domain-details-settings></app-domain-details-settings>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-Header-and-Footers mr-2 "></i>
                  <span class="">Headers and Footers</span>
                </a>
              </ng-template>
              <app-domain-details-hdft></app-domain-details-hdft>
            </tab>

            <tab>
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-Promotion mr-2 "></i>
                  <span class="">Promotions</span>
                </a>
              </ng-template>
              <app-domain-details-promotions></app-domain-details-promotions>
            </tab>

            <tab>
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-Message mr-2 "></i>
                  <span class="">Email list</span>
                </a>
              </ng-template>
              <app-domain-details-emails></app-domain-details-emails>
            </tab>

            <tab>
              <ng-template tabHeading>
                <a class="d-flex domain-details mr-2" (click)="showSpinner()">
                  <i class="icon-bg-Google-shopping mr-2 "></i>
                  <span class="">Google shopping</span>
                </a>
              </ng-template>
              <app-domain-details-google></app-domain-details-google>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
