<form class="form-custom">
  <div class="email-list">
    <div>
      By downloading an email list, you agree with our &nbsp;
      <a class="terms-service" (click)="openDialog()">terms of service</a>
      &nbsp; and with our Use of Shared Email Address policy, below:
    </div>
    <br>
    <div>
      Use of Shared Email Addresses. If you are provided with Shared Email Addresses, you agree to handle those Shared
      Email Addresses in accordance with this Agreement and:
    </div>
    <br>
    <ul class="pl-25">
      <li>Not to rent, share, sell, or otherwise transfer them to any third party;</li>
      <li>Not to use them to send excessive email messages or to spam or harass any third party;</li>
      <li>Not to use them in a manner that violates the CAN SPAM Act or any other applicable law; and</li>
      <li>To use them only to communicate regarding your Burgerprints Service activity (e.g., to inform past Purchasers
        of your new Campaigns, and the like).</li>
    </ul>
  </div>

  <div class="btn-action">
    <div class="btn-action justify-content-between ">
      <button class="btn btn-outline-grad-warning btn-register shadow" type="button" >
        Download subscribed list
      </button>
    </div>
  </div>
  <div class="btn-action">
    <div class="btn-action justify-content-between ">
      <button class="btn btn-outline-grad-warning btn-register shadow" type="button" >
        Download customer list
      </button>
    </div>
  </div>
</form>
