<form class="mt-30 form-custom">
  <div class="block-sessions">
    <div class="title-sections">
      Discount setting
    </div>
    <div class="block-input">
      <div class="sub-noti">
        There are some other lovely items in store, get them and save more!
      </div>
    </div>
    <div class="table-responsive discount">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Minimum Qty</th>
            <th scope="col">Discount</th>
          </tr>
        </thead>
        <tbody class="no-data">
          <div >No data</div>
        </tbody>
      </table>
    </div>
  </div>


  <div class="block-sessions">
    <div class="title-sections">
      Free shipping
    </div>
    <div class="block-input">
      <div class="sub-noti">
        Sitewide free shipping to orders above threshold amount
      </div>
    </div>
    <div class="table-responsive discount">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Threshold</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="no-data w-200">
          <div >No data</div>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btn-action justify-content-between ">
    <button class="btn btn-outline-grad-warning btn-register shadow" type="button" >
      SAVE CHANGE
    </button>
  </div>
</form>
