<form class="ng-untouched ng-pristine ng-invalid">
  <div class="block-sessions">
    <div class="title-sections">
      Headers and Footers
    </div>
    <div class="block-input">
      <label class="title-input">
        Website name
        <span class="input-required">*</span>
      </label>
      <input type="text" class="form-control ng-untouched ng-pristine ng-invalid" name="site_name" required>
      <div class="sub-noti">
        You'll register your domain name at the next step
      </div>
    </div>
    <div class="block-input">
      <label class="title-input">
        Office address
      </label>
      <input type="text" class="form-control ng-untouched ng-pristine ng-invalid" name="site_name" required>
    </div>
  </div>
</form>
