<div class="auth-wrap">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <img src="https://prov2.30usd.com/assets/images/logo-burgerprints-AI.svg" alt="logo" style="height: 70px">
            </div>
        </div>

        <div class="card-body">
            <div class="auth-block">
                <h2 class="text-center word-keep-all"> Request a Password Reset</h2>
                <p class="sub-title">Enter the email you used to register</p>
                <form #useform="ngForm" (submit)="missPass()" class="ng-pristine ng-invalid ng-touched">
                    <div class="form-group">
                        <input name="email" [(ngModel)]="User.email" type="text" class="form-control form-control-lg ng-pristine ng-invalid ng-touched" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-bg btn-lg btn-block">Send reset email </button>
                        <a class="btn-link btn-lg btn-block" routerLink="/login">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>