.btn-bg {
  border-radius: 5px;
  color: #fff;
  background-color: #fa9918;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.5px;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 8px 16px;
  line-height: 2;
  cursor: pointer;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  text-align: center;
}
.btn-block {
  display: block;
   width: 100%;
}
.btn-block+.btn-block {
  margin-top: 0.5rem;
}
input.ng-invalid.ng-touched {
  border: 1px solid #a94442!important;
}
.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.auth-wrap .card {
  height: 100vh;
  border: 0;
}
