.form-control-lg {
  font-size: 1rem;
    height: 3.5rem;
    border-radius: 0.3rem;
}
.btn-primary {
    border-radius: 5px;
    color: #fff;
    background-color: #fa9918;
    font-size: 16px;
    border-color: #fa9918;
    width: 100%;
}
.auth-wrap .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.check-box1 {
  text-align: center;
  line-height: 6px;
  font-weight: 700;
}

.auth-wrap label {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 16px!important;
  color: #000;
  font-weight: 400;
  margin-top: 28px;
}
.auth-wrap .card {
  height: auto;
  border: 0;
}
.check-box2 {
    width:16px;
    height:16px;
}

.signup-sub {
  display: flex;
  margin-top: 14px;
  font-size: 16px;
}
.google-main {
  height: 50px;
    width: 240px;
    border: none;
    color: #fff;
    background-color: #4285f4;
    margin: auto;
}
.signup-sub2 {
  text-align: center;
  margin-top: 24px;
}
.row {
  width: 100%;
  text-align: center;
}
